.query-btn:hover{
  /* background-color: #F6F1F1; */
  border-bottom: 2px solid #19A7CE;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}


.new-chat-btn:active{
  transform: scale(0.97);
  
}

.gradient-background {
  background: linear-gradient(76deg,#e96f11,#cba379,#24e46f,#ffa0e9);
  background-size: 240% 240%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.response {
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
}

.response::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for webkit browsers (Chrome, Safari) */
}

.answer{
  background-color: grey;
  color: white;
}

/* Add this to your global CSS or a component-specific CSS file */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #16C47F;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
